<.flash_group flash={@flash} />
<div>
<p>Email Perso: <a href = "mailto: mlegheraba@protonmail.com">mlegheraba@protonmail.com</a></p>
<p>Email LIP6: <a href = "mailto: mohamed.legheraba@lip6.fr">mohamed.legheraba@lip6.fr</a></p>
<p>Téléphone: <a href="tel:0630829000">0630829000</a></p>
</div>